@import "tailwindcss";
@plugin "daisyui";

body {
    background: url("starry-night-asia-desktop-wallpaper-4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}